<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="amd-ryzen-chipset" />
  <package id="anaconda3" />
  <package id="audacity" />
  <package id="autohotkey.portable" />
  <package id="blender" />
  <package id="brave" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="cpu-z" />
  <package id="cpu-z.install" />
  <package id="curl" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="DotNet4.5.2" />
  <package id="DotNet4.6.1" />
  <package id="dotnetfx" />
  <package id="ds4windows" />
  <package id="ffmpeg" />
  <package id="filezilla" />
  <package id="FiraCode" />
  <package id="FirefoxESR" />
  <package id="flameshot" />
  <package id="Ghostscript" />
  <package id="Ghostscript.app" />
  <package id="git" />
  <package id="git-credential-manager-for-windows" />
  <package id="git-lfs.install" />
  <package id="git.install" />
  <package id="github-desktop" />
  <package id="googledrive" />
  <package id="gpu-z" />
  <package id="graphviz" />
  <package id="heroku-cli" />
  <package id="imagemagick" />
  <package id="imagemagick.app" />
  <package id="insomnia-rest-api-client" />
  <package id="intellijidea-community" />
  <package id="intellijidea-ultimate" />
  <package id="jdk8" />
  <package id="jetbrains-rider" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="krita" />
  <package id="make" />
  <package id="maven" />
  <package id="nodejs.install" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="notion" />
  <package id="nuget.commandline" />
  <package id="nvm" />
  <package id="nvm.install" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="oh-my-posh" />
  <package id="paint.net" />
  <package id="parsec" />
  <package id="poshgit" />
  <package id="postgresql13" />
  <package id="postman" />
  <package id="pycharm" />
  <package id="pycharm-community" />
  <package id="python2" />
  <package id="qbittorrent" />
  <package id="samsung-magician" />
  <package id="scrcpy" />
  <package id="screentogif.install" />
  <package id="steascree" />
  <package id="steascree.install" />
  <package id="strawberryperl" />
  <package id="telegram" />
  <package id="telegram.install" />
  <package id="universal-adb-drivers" />
  <package id="vcredist140" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="vigembus" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="winrar" />
  <package id="yarn" />
</packages>